---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
---
<Layout title="Fongi ðŸ™" >
    <section class="py-24 flex flex-col items-center min-h-[97vh] justify-center">
      <Image loading="eager" src="https://firebasestorage.googleapis.com/v0/b/shop-e92d5.appspot.com/o/WhatsApp%20Image%202024-08-21%20at%2022.41.57.jpeg?alt=media&token=25ef9778-75bf-4e9d-b7dd-5ce8a5810d7f" alt="Fongi" width={380} height={570}/>
    </section>
</Layout>
