---
import LocationIcon from "./icons/LocationIcon.astro"
import DescItem from "../components/icons/DescItem.astro"
import Title from "../components/Title.astro"
import PizzaIcon from "./icons/PizzaIcon.astro"
import CupIcon from "./icons/CupIcon.astro"
import FriendIcon from "./icons/FriendIcon.astro"
---
<section class="flex items-center min-h-screen justify-center" id="details">
  <div class="container px-6 py-10 mx-0 sm:mx-72">
    <div class="lg:flex lg:items-center">
      <div class="w-full sm:w-[600px] space-y-12 ">
        <Title>
          Detalles <br>sobre la reunión
        </Title>
        <DescItem>
          <LocationIcon slot="Icon"/>
          <p slot="title">
            Locación 
          </p>
          Nos reuniremos en el Salón de Automatización. No faltes, ¡será una buena oportunidad para aprender en un ambiente relajado!
        </DescItem>
        <DescItem>
          <PizzaIcon slot="Icon"/>
          <p slot="title">
            Comida 
          </p>
          Se pedirá pizza para todos los asistentes, según el dinero que se junte entre los participantes.        
        </DescItem>
        <DescItem>
          <CupIcon slot="Icon"/>
          <p slot="title">
            Bebidas 
          </p>
          Cada quien debe llevar sus propias bebidas (no alcohólicas). Recuerda mantenerte hidratado mientras disfrutamos.
        </DescItem>
        <DescItem>
          <FriendIcon slot="Icon"/>
          <p slot="title">
            Conexión 
          </p>
          Conectarás con más gente de tu carrera, lo que siempre es útil para proyectos futuros, o simplemente hacer nuevas amistades. 
        </DescItem>
      </div>
      <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center mt-32 ml-8">
        <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-lg border border-[#f4427d] p-2" src="https://firebasestorage.googleapis.com/v0/b/shop-e92d5.appspot.com/o/autophoto.jpeg?alt=media&token=93ad3036-a5fa-4603-846b-fa6f19400bda" alt="">
      </div>
    </div>
  </div>
</section>
<style>
  h1 {
    font-family: 'Space Mono', monospace;
  }
</style>
