<div>
  <h1 class="text-3xl font-semibold lg:text-4xl text-white">
    <slot/>
  </h1>
  <div class="mt-2">
    <span class="inline-block w-40 h-1 rounded-full bg-[#f4427d]"></span>
    <span class="inline-block w-16 h-1 ml-1 rounded-full bg-[#f4427d]"></span>
    <span class="inline-block w-7 h-1 ml-1 rounded-full bg-[#f4427d]"></span>
  </div>
</div>
